/**
 * Custom styling for the admin
 */
.image-upload-preview {
	background-repeat 	: no-repeat;
	background-position : center center;
	background-size 	: cover;
	height 				: 150px;
	width 				: 150px;

	&.bordered {
		border: 4px dashed #b4b9be;
	}
}

.hide {
	display		: none;
	opacity		: 0;
	visibility	: hidden;
}

.field-error {
	background-color: #dc3232;
	color 			: #fff;
	font-weight 	: 700;
	padding 		: 0.5em;
}

.date-field-icon,
.time-field-icon {
	background-color: #f7f7f7;
	border 			: 1px solid #ddd;
	border-radius 	: 3px 0 0 3px;
	height 			: 23px;
	margin-right 	: -6px;
	padding-right 	: 2px;
	width 			: 23px;
}

.field-date,
.field-time {
	margin: 0;
}

#slide-background {

	fieldset {
		border 			: 1px solid #e5e5e5;
		margin-bottom 	: 1.5em;
		padding 		: 0.5em;

		label {
			vertical-align: top;
		}
	}

	p:not(:last-child) {
		margin: 0 0 1.5em;
	}
}

.slide_page_decks-settings {

	.form-table {
		margin-bottom: 3em;
	}
}

.menu-sections {
	display 		: flex;
	flex-wrap 		: wrap;
	justify-content : space-around;

	li {
		margin: 1em;
	}
}
